@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap");
* {
  font-family: "Cairo";
}
.App {
  text-align: center;
}
/* navbar --------------------------------------------------*/
.Navigation {
  display: flex;
  gap: 50px;
}
.main {
  width: 100%;
  /* height: 100px; */
  background: url("../src/image/Logo3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
}
.Logo {
  width: 100px;
}

.navbar-light .navbar-nav .nav-link a {
  color: #d7aa67;
  width: 100%;
}
a {
  text-decoration: none;
}
/* .Container {
  display: flex;
  gap: 3pxn;
  flex-direction: column-reverse;
} */
.icons {
  display: flex;
  gap: 1px;
}
.img-icon {
  width: 30px;
}
.Link2 {
  margin-left: 300px;
}
.item {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 100%;
  gap: 30px;

  margin-top: 30px;
}
.n {
  width: 100%;
}
.navbar.Brand {
  margin-left: 20px;
}
.drop {
  color: #d7aa67;
}

.navbar-light .navbar-nav .nav-link {
  width: 100px;
  color: #d7aa67;
}
input {
  width: 100%;
}
.icon-LogOut {
  display: flex;
  gap: 6px;
}
.icon-LogOut img {
  width: 20px;
}
.icon-LogOut p {
  color: #d7aa67;
}
/* Footer --------------------------------------------------*/

.footer {
  height: 400px;
  grid-column: 1/-1;
  background: url("../src/image/Logo3.png");
  color: #d7aa67;
  text-align: center;
}
.img-footer {
  margin: 20px;
  width: 100px;
}
.footer-box {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer-box-c {
  align-self: center;
}
.footer-box-c li {
  margin: 20px;
}

.img-footer {
  margin-bottom: 10px;
  width: 50%;
}
ul li {
  list-style: none;
}
@media screen and (max-width: 700px) {
  .footer-box {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-apps {
    margin-top: 30px;
  }
  .footer-box-r .fa {
    margin: 15px 0;
  }
}
/* style.css --------------------------------------------------*/
/* slider */
.imgslider {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}
.blockSlider {
  height: 150px;
  width: 250px;
  padding: 15px;
  margin-bottom: 15%;
  margin-right: 100%;
  background-color: rgba(255, 255, 255, 0.719);
}
.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.ImgSize {
  height: 20px;
  width: 20px;
  margin-left: 50%;
  margin-right: 50%;
}
.disbly{
  display:flex;
  width: 700px;
  margin: 30px;
  padding: 20px;
  gap: 30px;
align-content:flex-start;
}
/* form */
.form{
  margin-top: 20px;
 margin-left: 430px;
  width: 600px;
}
span{
  color: blue;
}
.buttonLoad{
  margin-left: 100px;
}
/*  styles */

.sections {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.dance {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}
h3 {
  color: #7a7a7a;
  margin-top: 0px;
  font-family: "Cairo", sans-serif;
}
.masks {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

h1 {
  font-family: "Cairo", sans-serif;
  color: #3e3e3e;
}
p {
  font-family: "Cairo", sans-serif;
  color: #3e3e3e;
}
.a-class {
  margin-top: 0px;
  background-color: black;
  color: #9c742c;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 30px;
  font-family: "Cairo", sans-serif;
}
.section-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.dance-header {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}
.h2-section {
  color: #2a2a2a;
  font-family: "Cairo", sans-serif;
  margin-top: 5px;
  font-size: 28px;
}
.dance-h2 {
  font-family: "Cairo", sans-serif;
  margin-top: 0px;
  background-color: #062120;
  color: #9c742c;
  height: 50px;
}
.h2-dance {
  font-family: "Cairo", sans-serif;
  color: #3e3e3e;
}
.masks-div-note {
  margin-top: 80px;
}

.items-div{
  
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  justify-content: center;
}
.item-image{
  width: 380px;
  height: 280px;
}







ul {
  list-style: none;
  margin-bottom: 0px
}

.button {
  display: inline-block;
  background: #0e8ce4;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px
}

.button:hover {
  opacity: 0.8
}

.cart_section {
  width: 100%;
  padding-top: 93px;
  padding-bottom: 111px
}

.cart_title {
  font-size: 30px;
  font-weight: 500
}

.cart_items {
  margin-top: 8px
}

.cart_list {
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff
}

.cart_item {
  width: 100%;
  padding: 15px;
  padding-right: 46px
}

.cart_item_image {
  width: 133px;
  height: 133px;
  float: left
}

.cart_item_image img {
  max-width: 100%
}

.cart_item_info {
  width: calc(100% - 133px);
  float: left;
  padding-top: 18px
}

.cart_item_name {
  margin-left: 7.53%
}

.cart_item_title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5)
}

.cart_item_text {
  font-size: 18px;
  margin-top: 35px
}

.cart_item_text span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 11px;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px)
}

.cart_item_price {
  text-align: right
}

.cart_item_total {
  text-align: right
}

.order_total {
  width: 100%;
  height: 70px;
  margin-top: 30px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-right: 46px;
  padding-left: 15px;
  background-color: #fff
}

.order_total_title {
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 60px
}

.order_total_amount {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 26px;
  line-height: 60px
}

.cart_buttons {
  margin-top: 70px;
  margin-right: 80px;
  text-align: right
}

.cart_button_clear {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
  border: solid 1px #b2b2b2;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  margin-right: 26px
}

.cart_button_clear:hover {
  border-color: #0e8ce4;
  color: #0e8ce4
}

.cart_button_checkout {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  vertical-align: top
}
.input-coupons{
  width: 150px;
  height: 50px;
}
.submit-coupons{
  margin-left: 10px;
}
.items-full-screen{
  
}


#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center
}

.items-admin{
  
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto ;
  gap: 15px;
  justify-content: center;
}
