@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap");
* {
  font-family: "Cairo";
}
.App {
  text-align: center;
}
/* navbar --------------------------------------------------*/
.Navigation {
  display: flex;
  gap: 50px;
}
.main {
  width: 100%;
  /* height: 100px; */
  background: url("../src/image/Logo3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
}
.Logo {
  width: 100px;
}

.navbar-light .navbar-nav .nav-link a {
  color: #d7aa67;
  width: 100%;
}
a {
  text-decoration: none;
}
/* .Container {
  display: flex;
  gap: 3pxn;
  flex-direction: column-reverse;
} */
.icons {
  display: flex;
  gap: 1px;
}
.img-icon {
  width: 30px;
}
.img-icon-search{
  margin-top: 20px;
  width: 30px; 
  height: 40px;

}
.search {
  display: flex;
  gap: 10px;
}
.Link2 {
  margin-left: 300px;
}
.item  {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 100%;
  gap: 30px;

  margin-top: 30px;
}
.n {
  width: 100%;
}
.navbar.Brand {
  margin-left: 20px;
}
.drop {
  color: #d7aa67;
}

.navbar-light .navbar-nav .nav-link {
  width: 100px;
  color: #d7aa67;
}
input {
  width: 100%;
}
.icon-LogOut  {
  display: flex;
  gap: 6px;
}
.icon-LogOut img {
  width: 20px;
}
.icon-LogOut p {
  color: #d7aa67;
}
/* Footer --------------------------------------------------*/

.footer {
  height: 400px;
  grid-column: 1/-1;
  background: url("../src/image/Logo3.png");
  color: #d7aa67;
  text-align: center;
}
.img-footer {
  margin: 20px;
  width: 100px;
}
.footer-box {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer-box-c {
  align-self: center;
}
.footer-box-c li {
  margin: 20px;
}

.img-footer {
  margin-bottom: 10px;
  width: 50%;
}
ul li {
  list-style: none;
}
@media screen and (max-width: 700px) {
  .footer-box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-apps {
    margin-top: 30px;
  }
  .footer-box-r .fa {
    margin: 15px 0;
  }
}
/* style.css --------------------------------------------------*/
/* slider */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap");
.service {
  font-family: "Cairo", sans-serif;
  color: #9c742c;
}
.service-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.type {
  background-color: #062120;
  padding: 10px;
  font-size: larger;
  color: #9c742c;

}
.imgslider {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}
.blockSlider {
  height: 250px;
  width: 350px;
  padding: 15px;
  margin-bottom: 15%;
  margin-right: 100%;
  background-color: rgba(255, 255, 255, 0.719);
  font-size: xx-large;
}
.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.cardFavorite{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  height: 30%;
  text-align: center;
  padding-bottom: 20px;
}
.cardFavorite:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.iconGrid {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-left: 50px;
}
.ImgSize {
  height: 35px;
  width: 35px;
  margin-top: 5px;
  cursor: pointer; 
}
 .iconSize {
  height: 35px;
  width: 35px;
  margin-top: 5px;
  cursor: pointer; 
}
.imageService{
  display: block;
  height:100%;
  width: 100%;
}


/*  styles */

.sections {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.dance {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}
h3 {
  color: #7a7a7a;
  margin-top: 0px;
  font-family: "Cairo", sans-serif;
}
.masks {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

h1 {
  font-family: "Cairo", sans-serif;
  color: #3e3e3e;
}
p {
  font-family: "Cairo", sans-serif;
  color: #3e3e3e;
}
.a-class {
  margin-top: 0px;
  background-color: black;
  color: #9c742c;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 30px;
  font-family: "Cairo", sans-serif;
}
.section-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.dance-header {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}
.h2-section {
  color: #2a2a2a;
  font-family: "Cairo", sans-serif;
  margin-top: 5px;
  font-size: 28px;
}
.dance-h2 {
  font-family: "Cairo", sans-serif;
  margin-top: 0px;
  background-color: #062120;
  color: #9c742c;
  height: 50px;
}
.h2-dance {
  font-family: "Cairo", sans-serif;
  color: #3e3e3e;
}
.masks-div-note {
  margin-top: 80px;
}

.items-div{
  
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  justify-content: center;
}







.title {
  margin-bottom: 5vh
}

.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}

@media(max-width:767px) {
  .card {
      margin: 3vh auto
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

@media(max-width:767px) {
  .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media(max-width:767px) {
  .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem
  }
}

.summary .col-2 {
  padding: 0
}

.summary .col-10 {
  padding: 0
}

.row {
  margin: 0
}

.title b {
  font-size: 1.5rem
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.col-2,
.col {
  padding: 0 1vh
}

a {
  padding: 0 1vh
}

.close {
  margin-left: auto;
  font-size: 0.7rem
}



.back-to-shop {
  margin-top: 4.5rem
}

h5 {
  margin-top: 4vh
}

hr {
  margin-top: 1.25rem
}

form {
  padding: 2vh 0
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
  color: transparent
}

.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none
}

.btn:hover {
  color: white
}

a {
  color: black
}

a:hover {
  color: black;
  text-decoration: none
}

#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center
}

.container {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.image {
  display: block;
  width: 350px;
  height: 280px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 280px;
  opacity: 0;
  transition: .5s ease;
  background-color: #fcfcfc;
}

.container:hover .overlay {
  opacity: 1;
}

.secandImage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 321px;
  height: 280px;
}