@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap");
.service {
  font-family: "Cairo", sans-serif;
  color: #9c742c;
}
.service-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.type {
  background-color: #062120;
  padding: 10px;
  font-size: larger;
  color: #9c742c;

}
.imgslider {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}
.blockSlider {
  height: 250px;
  width: 350px;
  padding: 15px;
  margin-bottom: 15%;
  margin-right: 100%;
  background-color: rgba(255, 255, 255, 0.719);
  font-size: xx-large;
}
.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.cardFavorite{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  height: 30%;
  text-align: center;
  padding-bottom: 20px;
}
.cardFavorite:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.iconGrid {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 100px;
}
.ImgSize {
  height: 35px;
  width: 35px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  cursor: pointer;
}
.iconSize {
  height: 25px;
  width: 25px;
  margin-top: 13px;
  cursor: pointer;
}
